html,
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.header {
    display: flex;
    justify-content: center;
    background-color: blue;
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.header>.container {
    background-color: aquamarine;
    height: 40px;
}

.second {
    margin: 30px auto;
    background-color: rgb(255, 78, 43);
    height: 80px;
    width: 160px;
}

.left {
    float:left;
    display: flex;
    flex-direction: column;
    width: 460px;
    height:600px;
    background-color:white;
}

.left>.top {
    margin: 30px auto;
    background-color: yellow;
    width: 380px;
    height: 240px;
}



.left>.bottom {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 380px;
    height: 240px;
    background-color: white;
}

.left>.bottom>.lleft {
    flex: auto;
    background-color: pink;
    margin-right: 10px;
    width: 100px;
    height: 240px;
}

.left>.bottom>.lright {
    flex: auto;
    background-color: bisque;
    width: 100px;
    height: 240px;
}


.right {
    float:right;
    display: flex;
    flex-direction: column;
    width: 460px;
    height:600px;
    background-color:white;
}

.right>.top {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 380px;
    height: 240px;
    background-color:rgb(57, 2, 255);
}



.right>.bottom {
    margin: 30px auto;
    background-color: yellow;
    width: 380px;
    height: 240px;
}

.right>.top>.rleft {
    flex: auto;
    background-color: rgb(244, 20, 177);
    margin-right: 10px;
    width: 100px;
    height: 300px;
}

.right>.top>.rright {
    flex: auto;
    background-color: rgb(2, 249, 93);
    margin-right: 10px;
    width: 100px;
    height: 300px;
}


.flooter {
    clear:both;
    background-color: blue;
    height: 40px;
}

.flooter>.container {
    clear:both;
    background-color: aquamarine;
    height: 40px;
}